<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Application Response</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <!-- fill this in -->

        <section align='center' class='subheader' id='app-form-response'>
            <h1>Application Submitted Successfully!</h1>
            <h5>Thank you, {{fname}} {{lname}}, for applying to be a {{jobtype}}.<br>
            Your minimum salary will be {{salary}}.<br>
            <br>
            <br>
            <img src="http://www.bluebison.net/sketchbook/2008/0908/sheep-coffee.png" />
            Hope you love coffee.</h5>
        </section>
    </body>
</html>