<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Skills-HTML-CSS{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    {% block content %}
    {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>                        
    <footer>Copyright 2015 Roobermelon</footer>
</body>
</html>

<!-- Ignore these gross page breaks.  I'll work on getting the footer
to stay at the bottom of the page. -->